/*default version*/
@font-face {
	font-family: "Gotham Medium";
	src:
		local("GothamMedium"),
		local("GothamMedium"),
		url('../fonts/GothamMedium.otf')
		format('opentype');
}

/*bold version*/
@font-face {
    	font-family: "Gotham Bold Regular";
    	src:
    		local("GothamBoldRegular"),
    		local("GothamBoldRegular"),
    		url('../fonts/GothamBoldRegular.ttf')
    		format('truetype');
}

/*thin version*/
@font-face {
            	font-family: "GothamThin Regular";
            	src:
            		local("GothamThinRegular"),
            		local("GothamThinRegular"),
            		url('../fonts/GothamThinRegular.otf')
            		format('opentype');
