/*default version*/
@font-face {
	font-family: "Gotham Medium";
  src: url('../fonts/GothamMedium.otf') format('opentype'),
  font-weight: normal;
  font-style: normal;
}

/*bold version*/
@font-face {
    	font-family: "Gotham Bold Regular";
      src: url('../fonts/GothamBoldRegular.ttf') format('truetype'),
      font-weight: normal;
      font-style: normal;
}

/*thin version*/
@font-face {
            	font-family: "GothamThin Regular";
              src: url('../fonts/GothamThinRegulat.otf') format('opentype'),
              font-weight: normal;
              font-style: normal;
