html, body {
  overflow-x:hidden;
}
body {
  font-family: "Gothamthin", Helvetica, Arial, sans-serif;
   color:#333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham bold", Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

 /* Tablet */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  header nav Site-Logo {
    float:left;
  }
  header nav ul {
     display:inline;
     text-align: right;
     float:right;
     margin:0;
   }
}

 /* Laptop */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  header nav Site-Logo {
    float:left;
  }
  header nav ul {
     display:inline;
     text-align: right;
     float:right;
     margin:0;
   }
}

 /* Desktop */

@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
  header nav Site-Logo {
    float:left;
  }
  header nav ul {
     display:inline;
     text-align: right;
     float:right !important;
     margin: 0 50px;
   }
}

/* iPhone 6 */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header nav Site-Logo {
      float:left;
    }
    header nav ul {
       display:inline;
       text-align: right;
       float:right;
       margin:0;
     }
}

/* iPhone 6+ */

/* Portrait and Landscape */
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3) {
   header nav Site-Logo {
     float:left;
   }
   header nav ul {
      display:inline;
      text-align: right;
      float:right;
      margin:0;
    }
}

 /* HEADER */
 header {
   color:#FFFFFF;
   background: #213159;
   background-image: -moz-linear-gradient( 30deg, rgb(33,49,89) 0%, rgb(79,131,204) 100%);
   background-image: -webkit-linear-gradient( 30deg, rgb(33,49,89) 0%, rgb(79,131,204) 100%);
   background-image: -ms-linear-gradient( 30deg, rgb(33,49,89) 0%, rgb(79,131,204) 100%);
}
header nav {
  padding:1em 0;
}
header nav Site-Logo {
  float:left;
}
header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#213159;
}
header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

  /* BUTTONS */
  .btn {
    border-radius: 4px;
    color:#FFFFFF;
    font-family: "Gotham medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding:10px 30px;
    background: #FF5252;
    border: 2px solid #FF5252;
    box-shadow: 0px 2px 0px 0px #963232;
  }

  /* BENEFITS */
  .benefits {
    text-align: center;
    display:block;
    position:relative;
  }
  .benefits ul {
    margin: 0 auto;
    padding:4em 0;
  }
  .benefits ul li {
    list-style-type: none;
    display: inline-block;
  }
  .benefits i {
    color:#4F83CC;
    font-size:60px;
    margin:0;
    vertical-align: middle;
  }
  .benefits h2 {
    color:#4F83CC;
  }

  /* PRICING */
  .pricing {
    background:
   linear-gradient(to top right,
     rgba(33, 49, 89, .2),
     rgba(79, 131, 204, 1)
   ),
   url("../images/CoffeeBackground.png");
    background-size:cover;
    text-align: center;
    padding:4em 0;
  }
   .pricing h2, .pricing p {
     color:#FFFFFF;
   }
   .pricing ul {
     margin:0 auto;
     padding:2em 0;
   }
   .pricing ul li {
     list-style-type: none;
   }
   .box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top:0px;
}
.box h3 {
  font-family: "Gotham medium", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
}
.box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#4F83CC;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Gotham medium", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }
 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }

 /* TESTIMONIALS */
.testimonials {
  padding:1em 0;
  text-align: center;
}
.testimonials h2 {
  color:#4F83CC;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color:#FFFFFF;
  text-align: left;
  font-style: italic;
  background:#213159;
  position: relative;
  padding:30px;
  width:auto;
  margin:0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #213159;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius:50%;
  float: left;
  display: inline-block;
  margin:20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size:13px;
  margin-top: 10px;
}
.testimonials .container li:nth-of-type(even) {
  padding-top: 20px;
}

/* Call to action */
.calltoaction {
  padding:3em 0;
  text-align: center;
}
.calltoaction h2 {
  color:#4F83CC;
  margin-top: -30px;
}
.calltoaction {
  padding-bottom: 70px;
}
.calltoaction p {
  padding-bottom: 20px;
}

/* FOOTER */
 footer {
   background-color: #213159;
   background-image: linear-gradient(to top,
      #4F83CC 0%, #4F83CC 50%, #213159 50%, #213159 100%);
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }

 @media (min-width: 992px){
   footer{
     background-color: #4F83CC;
     background-image: linear-gradient(to left,
        #4F83CC 0%, #4F83CC 33.33337%, #213159 33.33337%, #213159 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #4F83CC;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

<<<<<<< HEAD
  @media (min-width: 768px) and (max-width: 991px){
    footer .logo{
      padding: 0;
      margin-top: auto;
    }
  }

  @media (min-width: 320px) and (max-width: 767px){
   .one-third {
      margin:0 2% 10px;
      }
    footer p, footer nav ul{
      padding: 0;
    }
    footer .logo{
        padding: 20px;
      margin: auto;
    }
  }
=======
 @media (min-width: 768px) and (max-width: 991px){
   footer .logo{
     padding: 0;
     margin-top: auto;
   }
 }

 @media (min-width: 320px) and (max-width: 767px){
  .one-third {
     margin:0 2% 10px;
     }
   footer p, footer nav ul{
     padding: 0;
   }
   footer .logo{
       padding: 20px;
     margin: auto;
   }
 }
>>>>>>> af4e46ba2da70a1c965204eea5f448ef1b1cb953

/* DASHBOARD */
.dashboard {
  background:#F7F7F7;
}
.left-nav {
  font-family: "Gothamthin";
  height:100vh;
  width: 14.66666667%
  color: #FFFFFF
  background: #213159;
  background-image: -moz-linear-gradient( 30deg, rgb(33,49,89) 0%, rgb(79,131,204) 100%);
  background-image: -webkit-linear-gradient( 30deg, rgb(33,49,89) 0%, rgb(79,131,204) 100%);
  background-image: -ms-linear-gradient( 30deg, rgb(33,49,89) 0%, rgb(79,131,204) 100%);
  float:left;
  position:fixed;
  display:block;
}
.left-nav .site-logo {
  padding: 20px 0;
  background: #213159;
  display: block;
  text-align: center;
}
.left-nav .items {
  padding: 0 6%;
}
.left-nav .items p {
  font-family: "Gothamthin";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color:#E2E2E2;
  line-height: 15px;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}
.left-nav .items ul li a:active {
  font-family: "Gothamthin";
  list-style-type: none;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  color: #213159;
}
.left-nav .items ul li a {
  font-family: "Gothamthin";
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
}

/* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#213159;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   color:#FFFFFF;
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
 .left-nav .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top:8px;
 }

/* CONTENT */
.content {
  padding: 6em 1% 1.5em;
  float: right;
  width:98%;
  position: relative;
}
.content .header {
  margin: 0 1% 20px;
}
.content .header h1{
   font-family: "Gotham bold", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #4F83CC;
   line-height: 44px;
   float: left;
   display:inline-block;
}
 .content .header > a {
   float:right;
}
.content .header .btn {
  font-size: 18px;
}
.content .header .btn {
  border-radius: 4px;
  color:#FFFFFF;
  font-family: "Gotham medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding:7px 30px;
  background: #FF5252;
  border: 2px solid #FF5252;
  box-shadow: 0px 2px 0px 0px #963232;
}
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
}
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
}

/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

 .item-box > img {
    position:absolute;
    height:100%;
    width:auto;
    top:0;
    left:0;
    right:0;
  }
  .item-box h2 {
    font-family: 'Gotham bold', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    margin:0;
  }
  .item-box h2 a {
    color: #4F83CC;
    text-decoration: none;
  }
  .item-box h2 img {
    width:16px;
    height:16px;
    position:relative;
    top:2px;
    margin-right:5px;
  }
  .item-box p {
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    margin:5px 0 0;
  }
